.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.section ol, .section ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}


.blue-section {
  background-color: blue;
}
.red-section {
  background-color: red;
}

.section li {
  color: #fff;
  padding: 10px;
}

nav, .footer {
  background-color: #ffffff;
  height: 10vh;
  border-bottom: 5px solid #6dccde;
  text-align: center;
}

nav a {
  color: #444;
  text-decoration: none;
}

.nav-item {
  display: inline-block;
  padding: 5px 10px;
}

.active {
  background-color: #444;
  padding: 5px;
  border-radius: 10px;
}

.active a {
  color: #6dccde;
}


#header {
  text-align: center;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 0;
}

#main table {
  width: 100%;
  background-color: #fff;
  text-align: center;
}

.section > h2 {
  background-color: orange;
  padding: 20px;
}

.footer {
  border-top: 5px solid #6dccde;
  padding-top: 20px;
}
