* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Domine', sans-serif;
}

body {
	background-color: #B4A6AB;
}

h3 {
	font-family: 'Domine', sans-serif;
	text-align: center;
	font-size: 30px;
	margin-top: 20px;
}
h2
{
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-size: 45px;
	text-align: center;
}

.button {
	display: block;
	background-color: #FFB20F;
	color: #984447;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	border-radius: 0.25rem;
	border-style: solid;
	border-color: #984447;
}

.main-button {
	width: 250px;
	margin: auto;
}

#pageHeader {
	height: 30vh;
	color: black;
	background-color: #B4A6AB;
	text-align: center;
}

#capstoneSection {
	background-color: #141414;
	padding: 10px;
}

#capstone {
	background-color: #B4A6AB;
	padding: 20px;
	border: 20px solid #141414;
}

#contactSection {
	background-color: #B4A6AB;
}

#googleMaps {
	width: 200px;
	height: 180px;
}
iframe {
	width: 100%;
	height: 100%;
}

.textbox {
	width: 100%;
	padding: 10px 20px;
	margin: 10px 0;
}

.footer {
	padding-top: 10px;
	background-color: #FFB20F;
	color: #984447;
	text-align: center;
}